# Local env files
.env
.env.*
!.env.example
.DS_Store
example-files
screens
plans
*.plan.md
/maquette
.sentryclirc
.playwright-mcp

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.clerk
dist

# build / tests
.angular
node_modules
target
lcov.info
coverage

# ide
.idea/*
!.idea/runConfigurations
!.idea/inspectionProfiles
!.idea/copyright
*.iml
