CARDMARKET_PRICE_GUIDES_URL=https://downloads.s3.cardmarket.com/productCatalog/priceGuide/price_guide_1.json
DATABASE_URL=postgres://postgres:password@localhost/postgres
EDHREC_BASE_URL=https://edhrec.com
PORT=8080