name: lint-test

on:
  push

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Lints

    runs-on: ubuntu-latest

    container: rust:1-bullseye

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v6
      - run: echo "DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres" >> .env

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2

      - run: cargo install sqlx-cli --no-default-features --features native-tls,postgres
      - run: sqlx migrate run

      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1

      - run: cargo clippy --locked --workspace --all-features --all-targets -- -A dead_code -D clippy::all

  test:
    name: Tests
    runs-on: ubuntu-latest

    container: rust:1-bullseye

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v6
      - run: echo "DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres" >> .env

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: llvm-tools

      - uses: taiki-e/install-action@cargo-llvm-cov
      - uses: taiki-e/install-action@nextest
      - uses: Swatinem/rust-cache@v2

      - run: cargo install sqlx-cli --no-default-features --features native-tls,postgres
      - run: sqlx migrate run

      - run: cargo llvm-cov nextest --locked --workspace --all-features --bins --examples --tests --lcov --output-path lcov.info

      - uses: codecov/test-results-action@v1
        if: ${{ !cancelled() }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: target/nextest/default/junit.xml
          disable_search: true

      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          report_type: coverage
          files: lcov.info
          disable_search: true
